@charset "UTF-8";

#content3 {
    position: relative;
    overflow: hidden;
    margin-bottom: -5px;
}

#c3-background {
    width: 100%;
    position: relative;
    height: auto;
    z-index: -10;
}

#c3-textbox {
    position: absolute;
    text-align: center;
    color: #ad1500;
    justify-content: center;
    z-index: 10;
}

.c3-slide {
    z-index: -2;
}

#c3-slide1 {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    bottom: 160%;
}
#c3-slide2 {
    position: absolute;
    width: 100%;
    height: auto;
    right: 400%;
    bottom: 8%;
}
#c3-slide3 {
    position: absolute;
    width: 100%;
    height: auto;
    right: 400%;
    bottom: 7%;
}
#c3-slide4 {
    position: absolute;
    width: 100%;
    height: auto;
    left: 0;
    bottom: -100%;
    z-index: -4;
}

/* 모바일 */
@media screen and (max-width: 768px) {
    .quote {
        width: 20px;
        height: auto;
    }
    #c3-textbox {
        left: 4%;
        /* size of textbox */
        top: 22%;
        width: 30%;
        min-width: 180px;
        text-shadow: 1px 1px ivory;
    }
    #c3-textbox p {
        margin: 0;
        font-size: 0.8em;
    }
}

/* 데스크탑 */
@media screen and (min-width: 768px) {
    .quote {
        width: 60px;
        height: auto;
    }
    #c3-textbox {
        left: 5%;
        line-height: 200%;
        font-size: 1em;
        /* size of textbox */
        top: 20%;
        width: 45%;
        max-width: 500px;
    }

    #c3-textbox p {
        font-size: 1.2em;
    }
}