@charset "UTF-8";

#content6 {
    position: relative;
    overflow: hidden;
    background: #222222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#3d1500, black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#3d1500, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#3d1500, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#3d1500, black); /* Standard syntax */
}

#c6-coverflow img {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(30%, transparent) , to(rgba(250, 250, 250, 0.1)));
}

#content6 .button {
    width: 10%;
    min-width: 180px;
    height: auto;
    color: white;
    text-align: center;
    margin: auto;
}

#content6 .button:hover {
    border: 2px solid #ad1500;
    color: #ad1500;
}

.c6-coverflow-card {
    position: relative;
    color: lightgoldenrodyellow;
}

.c6-card-text {
    position: absolute;
    top: 5%;
    left: 5%;
    padding: 3%;
}

/* 모바일 */
@media screen and (max-width: 768px) {
    #content6 .button {
        padding: 2%;
        border: 1px solid white;
    }
    .c6-coverflow-card {
        width: 300px;
        height: auto;
    }
}

/* 데스크탑 */
@media screen and (min-width: 768px) {
    #content6 .button {
        padding: 1%;
        border: 2px solid white;
    }
    .c6-coverflow-card {
        width: 500px;
        height: auto;
    }
}