@charset "UTF-8";

#content6 {
    position: relative;
    background: black; /* For browsers that do not support gradients */
}

#c6-carousel {
    overflow-y: visible;
    overflow-x: scroll;
    width: 100%;
    height: auto;

    white-space:nowrap;
}

#c6-carousel .slide {
    display: inline-block;
}

#c6-carousel img {
    width: 100%;
    height: auto;
}

/* 모바일 */
@media screen and (max-width: 768px) {

}

/* 데스크탑 */
@media screen and (min-width: 768px) {

}