@charset "UTF-8";

#c2-review-wrapper {
    width: 100%;
    height: auto;
    position: relative;
    background-size: 100%;
    background-image: url('../image/content2/background.jpg');
}

.review-item {

}

/* 모바일 */
@media screen and (max-width: 768px) {

}

/* 데스크탑 */
@media screen and (min-width: 768px) {
    #c2-textbar {
        font-size: 1.2em;
    }
}
