@charset "UTF-8";
/* color: grey: #b4b4b4, cartier red: #ad1500 */

@font-face {
    font-family: 'DidotRegular';
    src: url(../fonts/Didot%20Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'SpoqaSans';
    src: url(../fonts/SpoqaHanSansRegular.ttf) format('truetype');
}

body {
    /* 기본 */
    margin: 0;
    padding: 0;
    /* 폰트 */
    font-family: SpoqaSans;
    font-size: 1em;
    color: #000;
}

.cartier-carpet {
    /* 배경화면 */
    background-image: url(../image/meta/tile.jpg);
    background-repeat: repeat;
}

.blur-effect {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

a {
    text-decoration: none;
}