@charset "UTF-8";

/* toggle basic settings */
.toggle-wrapper {
    min-width: 250px;
    width: 80%;
    height: 60%;

    position: fixed;
    z-index: 1000;
    left: 10%;
    top: 20%;
}

/* X button */
.toggle-wrapper a {
    color: white;
}

.toggle-head {
    background-color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    padding: 2%;
    color: #a30001;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
}

.toggle-body {
    background-color: rgba(20, 20, 20, 0.8);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    color: ivory;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.toggle-body .text {
    width: 100%;
    height: auto;
}

.toggle-body .button {
    min-width: 100px;
    width: 40%;
    margin: 2%;
    padding: 1%;
    border: 1px solid ivory;
    align-content: center;
    text-align: center;
}

.toggle-body .button:hover {
    color: #ad1500;
    border: 1px solid #ad1500;
}

/* specific settings */
#c0-toggle-1 {
    display: none;
    z-index: 150;
}

#c2-toggle-1 {
    display: none;
    z-index: 150;
}

#c2-toggle-2 {
    display: none;
    z-index: 150;
}

#c2-toggle-3 {
    display: none;
    z-index: 150;
}

#c2-toggle-4 {
    display: none;
    z-index: 150;
}

#c4-toggle-1 {
    display: none;
    z-index: 150;
}

#c5-toggle-1 {
    display: none;
    z-index: 150;
}

#c6-toggle-1 {
    display: none;
    z-index: 150;
}